body{
  margin: 0;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(background.jpeg);
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: solid;
  font-size: xx-large;
  font-weight: bolder;
}

#profile {
  display:flex;
  align-items: center;
  flex-direction: column;
  width:100%;
}

#profile-pic {
  background-image: url("logo");
  background-size: cover;
  background-position:center;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  border: 1px solid white;
}

#profile-text {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: rgb(51, 51, 51);
  line-height: 24px;
  padding-bottom: 10px;
  border-bottom: 2px solid #e6e6e6;
}

section {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}


.place1 {
    width: 66.67%;
   text-align: justify;
}
.place2 {
    width: 66.67%;
   text-align: justify;
}
.place3 {
  width: 66.67%;
 text-align: justify;
}
.place4 {
  width: 66.67%;
 text-align: justify;
}
.place5 {
  width: 66.67%;
 text-align: justify;
}

.item-header {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: rgb(51, 51, 51);
  text-align: justify;
}


.item-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 32px;
  color:  rgb(51, 51, 51);
  margin:0px;
}

.item {
  padding: 60px 0px;
}

a {
  color: #42b4d6;
  text-decoration: none;
  font-weight: normal;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
}

a:hover {
  text-decoration:underline;
}

img {
  display: block;
  margin: auto;
  width: 50%;
}
